@{
    ViewBag.Title = "Our Story";
}
<div class="page-header" id="ourstory-header">
    <div class="page-header-text">
        <h1>@ViewBag.Title</h1>
        <h4>Find out how our paths crossed</h4>
    </div>
</div>

<div class="page-content">
    <div class="page-sub-header">
        <h2>timeless love</h2>
        <h4>who we are, how we met, and how he proposed</h4>
    </div>

    <div class="container-fluid" id="ourstory-content">
        <div class="row">
            <div class="col-md-6 text-col">
                <h2>Her</h2>
                <p>
                    Rebecca Jean Schicker was born to Ronald Schicker and Christine Endter on March 23rd, 1982 in Milwaukee, Wisconsin. She grew up loving to spend time with friends and family. Coming from a very large family, she has many close cousins to spend a lot of time with. She has a great love of sports and was constantly on the road, traveling for baseball and basketball. Playing volleyball since the age of 5, Becky continues to play to this day.
                </p>
            </div>
            <div class="col-md-6">
                <img src="@Url.Content("~/Content/Images/Wedding/nick_becky_1.jpg")" alt="" />
            </div>
        </div>
        <div class="centered-text">
            <blockquote class="blockquote-reverse">
                <p>She grew up loving to spend time with friends and family.</p>
                <footer>Her family</footer>
            </blockquote>
        </div>
        <div class="row">
            <div class="col-md-6 text-col">
                <img src="@Url.Content("~/Content/Images/Wedding/nick_becky_2.jpg")" alt="" />
            </div>
            <div class="col-md-6">
                <h2>Him</h2>
                <p>
                    Nicholas Glynn Kalashian was born to John Kalashian and Robin Grady on September 25th 1982 in West Allis, Wisconsin. He grew up loving sports, growing an immense passion for the game of soccer. Throughout the years he was able to represent his country playing ball throughout Europe and South America. In 2002, Nick joined the Air Force and has been stationed all around the world. He continues to serve as a full time member of the Wisconsin Air National Guard.
                </p>
            </div>
        </div>
        <div class="centered-text">
            <blockquote>
                <p>He continues to serve as a full time member of the Wisconsin Air National Guard.</p>
                <footer>A grateful nation</footer>
            </blockquote>
        </div>
        <div class="row">
            <div class="col-md-6 text-col">
                <h2>Them</h2>
                <p>
                    Becky and Nick met on their first day of freshman year in high school, at West Allis Central High School, during physical science class. Although they were not high school sweethearts, there was always a connection, which at the time they were just too young to understand. Throughout the years, the connection grew stronger and 15 years later, the timing was finally right. They started dating in the summer of 2011 and never looked backed. Nick proposed to Becky on February 20th, 2015 with the help of their trusty dog, Ace. Ace wore a very handsome bow tie and a chalk board stating “Will you be my mom forever!” This is when shit really started getting real!
                </p>
            </div>
            <div class="col-md-6">
                <img src="@Url.Content("~/Content/Images/Wedding/ace_proposal.jpg")" alt="" />
            </div>
        </div>
        <div class="centered-text">
            <blockquote class="blockquote-reverse">
                <p>...there was always a connection...</p>
                <footer>them</footer>
            </blockquote>
        </div>
        <div class="row">
            <div class="col-md-6 text-col">
                <img src="@Url.Content("~/Content/Images/Wedding/nick_becky_beach.jpg")" alt=""/>
            </div>
            <div class="col-md-6">
                <h2>Today</h2>
                <p>
                    They have created a beautiful life together, living in Madison, Wisconsin, where Nick continues to serve in the Air Force, and Becky continues to work in the dental field. They could not be more in love and more excited to spend the rest of their lives together!
                </p>
                <p>
                    We are looking forward for all of you to spend this special day with us!!
                </p>
            </div>
        </div>
        <div class="centered-text">
            <blockquote>
                <p>They could not be more in love and more excited to spend the rest of their lives together!</p>
                <footer>A witness</footer>
            </blockquote>
        </div>
    </div>
</div>